@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  text-rendering: optimizeSpeed;
  font-weight: 400;
  background: var(--ui-elements-gray-06);
}
